.mapAreaInfo {
  user-select: none;
  position: absolute;
  z-index: 4;
  width: 22.5vmin;
  height: 13.796vmin;

  background: #f5f3ff;
  border: 2px solid #ededed;
  border-radius: 0px 1.389vmin 1.389vmin 1.389vmin;
}
