#app,
body {
  background-color: #28124E;
}

.application,
.application-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "GT Eesti LC Text";
  *::-webkit-scrollbar {
    width: 4px; /* ширина scrollbar */
  }
  *::-webkit-scrollbar-track {
    /* background: rgba(21, 255, 0, 0.096); цвет дорожки */
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(177, 177, 182, 0.2); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 2px solid rgba(100, 99, 98, 0.178); /* padding вокруг плашки */
  }
}

.application-wrapper {
  flex-direction: row;
  & > .left {
    display: flex;
    height: 100%;
  }
  & > .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    & > .top {
      display: flex;
      height: 5.926vmin;
    }
    & > .main {
      display: flex;
      flex-grow: 1;
      padding: 1.667vmin;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  // justify-content: space-around;
}
.jc-center {
  justify-content: center;
}
.jc-space-around {
  justify-content: space-around;
}
.jc-end{
  justify-content: end;
}
.jc-start {
  justify-content: start;
}
.ali-start {
  align-items: start;
}
.ali-end {
  align-items: end;
}
.ali-center {
  align-items: center;
}
.p-1 {
  padding: 1vmin;
}
.p-2{
  padding: 2vmin;
}
.ptb-1 {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}
.ptb-2 {
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
}
.w-100 {
  width: 100%;
}
.w-85 {
  width: 85%;
}
.w-50 {
  width: 50%;
}
.h-70 {
  height: 70%;
}
.h-60 {
  height: 60%;
}
.h-40 {
  height: 40%!important;
}
.h-10 {
  height: 10%;
}
.fgrow {
  flex-grow: 1;
}
.col {
  display: flex;
  flex-direction: column;
  height: 100%;
}


@font-face {
  font-family: GT Eesti LC Text;
  src: url("./fonts/GT-Eesti-LC-Text-Regular.otf") format("opentype");
  }