#app,
body {
  background-color: #2e1659;
}

.application,
.application-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "GT Eesti LC Text";
  *::-webkit-scrollbar {
    width: 4px; /* ширина scrollbar */
  }
  *::-webkit-scrollbar-track {
    /* background: rgba(21, 255, 0, 0.096); цвет дорожки */
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(177, 177, 182, 0.2); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 2px solid rgba(100, 99, 98, 0.178); /* padding вокруг плашки */
  }
}

.application-wrapper {
  flex-direction: row;
  & > .left {
    display: flex;
    height: 100%;
  }
  & > .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    & > .top {
      display: flex;
      height: 5.926vmin;
    }
    & > .main {
      display: flex;
      flex-grow: 1;
      padding: 1.667vmin;
    }
  }
}




@font-face {
  font-family: GT Eesti LC Text;
  src: url("./fonts/GT-Eesti-LC-Text-Regular.otf") format("opentype");
  }