select {
  z-index: 10;
  outline: none;
  border: none;
  padding: 0.37vmin 1.181vmin 0.37vmin 1.181vmin;
  margin: 0;
  width: 100%;
  font-family: "GT Eesti LC Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.596vmin;
  line-height: 1.481vmin;
  cursor: inherit;
  line-height: inherit;

  background: #f5f3ff;
  border: 1px solid #464e56;
  border-radius: 0.463vmin;
}
